<template>
    <div>
      <md-list>
        <md-list-item>Grundlagen</md-list-item>
        <md-list-item>Einführung</md-list-item>
        <md-list-item>Usw</md-list-item>

      </md-list>
    </div>
</template>

<script>
  export default {
    name: 'sideList',
    data () {
      return {}
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
