<template>
    <div>
      Welcome
    </div>
</template>

<script>
  export default {
    name: 'welcome',
    data () {
      return {}
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
